
.background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/*header style do menu*/
.global{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  :root {
    --text: #EDF1F7;
    --red: #C51212;
    --blue: #0041C2;
    --green: #14B02D;
    --yellow: #ffc12b;
}
  
 body, button, a {
    color: var(--text);
    font: 300 1rem "Mukta", sans-serif;
}
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  
  #app {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    margin-left: 20px;
    
    
    width: 100%;
    height: auto;
    overflow:visible;
    overflow:visible;
    z-index:1000;
    }


    .header {
        display: flex;
        align-items: center;
        column-gap: 64px;
        
        width: 80%;
        max-width: 1400px;
        padding-top: 24px;
    }

    header img{
        width: 70px;
        height: auto;
    }
    
    .navigation {
        display: flex;
        align-items: center;
        column-gap: 45px;
    
        list-style: none;
    }
    
    .navigation_link {
    
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    
        position: relative;
    }
    
    .navigation_link:hover {
        color: #1E90FF;
    }
    
    .navigation_link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
    
        width: 60%;
        height: 1px;
        background:#1E90FF;
    
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s;
    }
    
    .navigation_link:hover::after{
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 04.s;
    }
    
    .navigation_social {
        margin-left: auto;
    
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
    
    .navigation_social svg {
        width: 20px;
        height: 20px;
        opacity: 0.6;
    
        transition: all 0.4s;
    }
    .navigation_social svg:hover{
        opacity: 1;
        transform: translate(-5px);
        cursor: pointer;
    }
    
    

/*style slider*/
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: #fff;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 37px;
    margin: 0;
}
.slider .list .item .content p{
    font-size: 1em; 
    line-height: 1.5em;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1), .slider .list .item.active h2, .slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
/*botao do slide*/
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    color: #fff;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 120px;
    height: 200px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
